#TopHeadline a {
}

#TopHeadline a img {
    max-width: 640px;
    max-height: 320px;
}

#MainHeadline {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 3em; 
    text-decoration: underline; 
    font-family: sans-serif;
}

#MainHeadline a {
    display: block;
    text-align: center;
}

#MainHeadline a img {
    max-width: 640px;
    max-height: 320px;
}

.vertical-border {
    border-left: 1px solid #ddd;
}

body {
    margin-top: 44px;
}

#ColumnA li > img,
#ColumnB li > img,
#ColumnC li > img {
    width: 99%;
    padding-top: 2px;
    padding-bottom: 2px;
}
